*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #e7eefc;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    padding: 40px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, orange 20%, rgb(255, 206, 116) 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
    font-size: 60px;
    font-weight: 800;
    font-style: italic;
}
.container{
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    width: 100px;
    height: 100px;
    flex-basis: 30%;
    border-radius: 10px;
    margin: 5px;
    box-shadow: #e4ecfe 0px 7px 29px 0px;
    border: 1px solid #e7eefc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 600;
}
p{
    background-color: #3b62c0;
    color: white;
    width: fit-content;
    padding: 16px 23px;
    margin: 20px auto;
    border-radius: 10px;
}
button{
    padding: 16px 22px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: orange;
    font-weight: 600;
}
button:hover{
    cursor: pointer;
    background-color: #97b0ec;
}
@media screen and (max-width:600px){
    *{
        box-sizing: border-box;
    }
    h1{
        font-size: 50px;
        font-weight: 600;
    }
}
.box.X{
    color: #3b62c0;
}
.box.O{
    color: orange;
}